# http://editorconfig.org
root = true

[*]
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yml,md,toml}]
indent_style = space

[Makefile]
indent_style = tab

[*.{md,mdx}]
insert_final_newline = true

[*.html]
insert_final_newline = false

[*.svg]
insert_final_newline = false

[LICENSE]
insert_final_newline = false
